<div class="login-wrapper">
  <div class="login-form">
    <form nz-form nzLayout="vertical" [formGroup]="forgotPassForm" (ngSubmit)="submit()">
      <p class="login-header">Forgot Password</p>
      <p class="info-text">Please enter your email address to request a password reset.</p>
      <nz-form-item>
        <nz-form-label nzFor="name">Email</nz-form-label>
        <nz-form-control [nzErrorTip]="userEmailErrorTip">
          <input type="email" nz-input placeholder="Email" formControlName="email" />
          <ng-template #userEmailErrorTip let-control>
            <ng-container *ngIf="control.hasError('required')">
                <div class="error-message">
                    <i class="bi bi-exclamation-circle error-icon"></i>
                    User email is required.
                </div>
            </ng-container>
            <ng-container *ngIf="control.hasError('email') || control.hasError('pattern')">
                <div class="error-message">
                    <i class="bi bi-exclamation-circle error-icon"></i>
                    User email is invalid.
                </div>
            </ng-container>
        </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" nzBlock class="mt-2">
          Submit
        </button>
      </nz-form-item>
    </form>
    <nz-divider nzPlain nzText="OR"></nz-divider>
    <nz-form-item [nzJustify]="'center'">
      <span>Go back to &nbsp;</span>
      <a class="login-form-forgot" routerLink="/sign-in">Sign In</a>
      <span>&nbsp;?</span>
    </nz-form-item>
  </div>
</div>