<nz-layout>
  <nz-header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="logo">
            <img src="../../../assets/images/meetingnote.png" alt="">
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/audit/meeting-note" routerLinkActive="active">Meeting Note History</a>
            </li>
          </ul>
          <span nz-dropdown [nzDropdownMenu]="menu" class="user-wrapper">
            <span class="user-icon" *ngIf="isSuperAdmin || isAuditor">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </span>
            <img *ngIf="isNotSuperAdmin && !isAuditor" [src]="imageService.getProfileImage(authInfo?.user?.name)" alt="" class="user-profile">
            {{authInfo?.user?.name}}
            <span nz-icon nzType="down" class="down-icon"></span>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="logout()">Log Out</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nav>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Copyright © 2024 Startin Point Pte Ltd</nz-footer>
</nz-layout>